.clear {
    background: red;
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    display: block;
    width: 180px;
    box-sizing: border-box;
    cursor: pointer;
  }